@media screen and (min-width: 1024px){
    

    .nav {
        width: 100%;
    }

    .logo {
        display: none;
    }
    

    .right .get-tickets-btn {
        height: 28px;
        line-height: 25px;
        font-size: 11px;
        margin-top: 10px;
        font-family: 'Ropa Sans', sans-serif;
        text-transform: uppercase;
        background-color: #0cc;
        border: none;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        letter-spacing: .8px;
        width: 90px;
    }
    
    .right-nav .get-tickets-btn:hover {
        background-color: #9900cc;
        cursor: pointer;
    }
    

    .latest-news-section {
        width: 95%;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .latest-news img{
        width: 100%;
        height: 50%;
        float: none;
    }

    .latest-news-article {
        margin: 10px;
        width: calc(25% - 20px);
        height: 20vh;
    }
    .latest-news-title {
        font-size: 1em;
        font-weight: bold;
        line-height: 1.05em;
    }

    .latest-news-article  ul {
        font-size: 1.1em;
    }
}