.first-nav {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: black;
    font-family: 'Maven Pro', sans-serif;
}

.first-nav ul {
    padding-left: 20px;
}

.first-nav li a {
    float: left;
    color: #838383;
    margin-right: 12px;
    font-size: 14px;
    font-weight: bold;
}

.first-nav li a span {
    font-size: 8px;
}

ul li ul {
    min-width: 200px;
}

ul li ul li{
    display: none;
    min-width: 
}

.first-nav li:hover ul li a{
    display: block;
    overflow: hidden;

}

.second-nav {
    width: 100%;
    height: 49px;
    line-height: 49px;
    font-family: 'Ropa Sans', sans-serif;
    text-transform: uppercase;
    clear: left;
}


.second-nav li a {
    display: block;
    float: left;
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #838383;
}

.second-nav li:first-child {
    padding-left: 10px;
}

.tnw-conference-announcment {
    float: right;

}