@media screen and (min-width: 480px) {
    

    .bottom-nav .right {
        display: flex;
        justify-content: flex-end;
    }

    .time-remaining {
        width: 124px;
        order: 2;
        border: none;
    }
    .search-btn{
        width: 48px;
        border-left: 1px solid rgba(121, 121, 121, 0.15);
    }
    .hamburger-btn {
        width: 48px;
    }

    .ticket {
        font-size: .8em;
    }
}