@media screen and (min-width: 768px) {

    .header {
        height: 84px;
        display: flex;
        justify-content: stretch;
    }

    .top-nav {
        display: block;
        width: 100%;
        height: 32px;
        line-height: 32px;
        background-color: black;
        font-family: 'Maven Pro', sans-serif;
    }

    .top-nav ul {
        padding-left: 20px;
    }

    .top-nav ul li {
        display: block;
        float: left;
    }

    .top-nav li a {
        color: #838383;
        margin-right: 12px;
        font-size: 14px;
        font-weight: bold;
    }

    .top-nav li a span {
        font-size: 8px;
    }


    .drop-down {
        position: relative;
    }

    .drop-down-content {
        display: none;
        position: absolute;
        top: 32px;
        left: -10px;
        background-color: black;
        min-width: 250px;
    }

    .drop-down-content li a {
        display: block;
    }

    .drop-down:hover .drop-down-content {
        display: block;
    }


    .bottom-nav  {
        display: flex;
        width: 100%;
        line-height: 49px;
        font-family: 'Ropa Sans', sans-serif;
        text-transform: uppercase;
    }

    .bottom-nav .left {
        width: 72%;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .bottom-nav .left ul li {
        display: inline-block;
    }
    .bottom-nav .left ul li a {
        display: block;
    }


    .left ul li:nth-child(6) a,
    .left ul li:nth-child(7) a {
        display: none;
    }

    .left li a:hover {
        color: black;
    }

    .bottom-nav .right {
        width: 28%;
    }

    .bottom-nav .right .hamburger-btn {
        display: none;
    }

    .bottom-nav .right .search-btn {
        border-right: none;
    }

    .clear {
        height: 112px;
    }

    .featured-articles {
        width: 99%;
    }

    .article {
        width: 100%;
        height: 29vh;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
    }


    .left-column {
        width: 68.5%;
        height: 472px;
        margin-right: 10px;
    }

    .left-column .article-info-title {
        font-size: 2.3em;
        line-height: 1.1em;
        margin-bottom: 10px;
    }

    .container2 {
        width: 30%;
    }

    .container2 .article {
        height: 231px;
    }


    .latest-news-section {
        width: 95%;
        margin-bottom: 30px;
    }

    
    .latest-news-article {
        height: calc(25vw - 20px);
        margin: 10px;
        width: calc(33% - 20px);
    }
    

    .img-container {
        float: none;
        height: 15vw;
        margin-bottom: 10px;
    }


    /*  distraction section */
    .u-row {
        display: flex;
        flex: 0 1 auto;
        flex-flow: row wrap;
    }

    .distraction {
        flex-basis: 50%;
        margin: 0 0 30px 0;
        padding: 10px;
        box-sizing: border-box;
    }

    /*  latest deal section */

    .deals ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 10px;
    }

    .deals ul li {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
        padding: 10px;
        box-sizing: border-box;
    }

    .deals-list {
        flex-direction: column;
    }

    .adeal-img {
        background-position: 0 100%;
        width: 100%;
        height: 168px;
    }

    .deals-text {
        padding-top: 10px;
        padding-left: 0px;
    }
}